<h1>利用者編集画面</h1>
<%= @customer.last_name %> <%= @customer.first_name %><br>
利用曜日：<%= @customer.day %>曜日<br>
参加予定日：<%= @customer.plan %>

<h1>参加曜日編集</h1>
<%= form_with model: @customer, url:admin_customer_path(@customer.id), method: :patch do |f| %>
 <h4>参加予定曜日</h4>
　<%= f.text_field :day %>
 <%= f.submit'保存' %>
<% end %>

<%= link_to '参加予定日を追加する', new_admin_customer_schedule_path(@customer.id) %>

<br><%= link_to '退会する', admin_customers_withdraw_path,
method: :patch, "data-confirm" => "本当に退会しますか？" %>