<h1><%= @customer.last_name %><%= @customer.first_name %>様の詳細画面</h1>
利用曜日：<%= @customer.day %>曜日<br>
参加予定日：<% @schedules.each do |schedule| %>
             <%= schedule.plan %>,
            <% end %><br>
<%= link_to "登録内容を編集する", edit_admin_customer_path(@customer.id) %>

<h2>投稿一覧</h2>
<%= @customer.last_name %><%= @customer.first_name %>様へ
 <%= link_to "新しく記録する", new_admin_customer_record_path(@customer.id) %><br>

<% @records.each do |record| %>
<%= record.created_at.strftime('%Y/%m/%d') %> <%= record.body %><br>
<% end %>

