<div class= "title" >
 <h1>カレンダー追加画面</h1>
</div>

<div class= "list">
<%= form_with model: @carendar, url:'/admin/carendars', method: :post do |f| %>
 <p>タイトル</p>
 <%= f.text_field :title %>
 <p>日時</p>
 <%= f.datetime_select :start_time %>
 <p>内容</p>
 <%= f.text_field :content %><br>
 <br>
 <%= f.submit '予定を追加する' %>
<% end %>
</div>