<h1>新規記録</h1>
<%= @customer.last_name %> <%= @customer.first_name %>様の記録
<%= form_with model: [@customer, @record],
url:admin_customer_records_path(@customer.id), method: :post do |f| %>
 内容
 <%= f.text_field :body %>
 <%= f.submit '記録する' %>
 <% end %>
