<!DOCTYPE html>
<html>
  <head>
    <title>Kaigo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=   %></br>
    <%= link_to "新規利用者登録", new_admin_customer_path %>
    <%= link_to "利用者一覧", admin_customers_path %>
    <%= link_to "カレンダー", admin_carendars_path %></br>

    <%= link_to "ログイン", new_admin_session_path %>
    <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></br>

    <div class="search">
      <%= form_with url: search_path, method: :get, local:true do |f| %>
       利用者検索<%= f.text_field :last_name %>
       <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="select">
      <%= form_with model: @application ,url: "/select", method: :get, local:true do |f| %>
       <%#<%= f.text_field :day %>曜日検索
       <%= f.select :day, [['月','月'],['火','火'],['水','水'],['木','木'],['金','金'],['土','土'],['日','日']] %>
       <%= f.submit "曜日を絞り込む", class: "btn btn-primary" %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
